.user-container {
  height: 550px;
  padding: 20px;
  margin: 20px 0 20px 40px;
}

.btns-container {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  gap: 20px;
}

@media only screen and (max-width: 450px) {
  .user-container {
    height: auto;
    width: 20rem;
    margin: 20px;
  }
}
