.landing_ul {
  display: flex;
  justify-content: space-between;
  padding: 3rem 30rem;
}

.landing_ul li {
  list-style: none;
  text-transform: none;
  background-color: black;
}

.landing_ul li:hover {
  transform: scale(1.2);
}
