.containa {
  margin: 20px 20px 20px 50px;
  padding: 20px;
  background-color: azure;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  height: 480px;
  width: 950px;
  display: flex;
  flex-direction: row;
}

.transaction {
  width: 880px;
}

.details-container {
  margin: 0 20px 20px 20px;
  padding: 0 15px 15px 15px;
  background-color: azure;
  border-radius: 8px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Gumeland', cursive;
  box-sizing: border-box;
}

.cus-details {
  margin: 0 0 1.25rem 0;
  border-bottom: 1px solid #705050;
  color: crimson;
}

.image-container {
  padding: 4px;
  gap: 30px;
}

.edit {
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: #49220b;
  cursor: pointer;
  z-index: 1;
}

.cus-image {
  width: 350px;
  height: 400px;
  border-radius: 8px;
}

#new-img-editor {
  text-align: center;
}

.view-trans {
  width: 9.5rem;
  height: 1.875rem;
  padding: 6px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #f72727;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 5px 5px 13px #f7f1f1, -5px -5px 13px #e2dcdc;
}

.allTrans {
  margin-bottom: 20px;
}

@media only screen and (max-width: 978px) {
  .containa {
    width: 18.75rem;
    height: 42.5rem;
    gap: -20px;
    display: flex;
    flex-direction: column;
    margin: 1.25rem 0 1.25rem 1.875rem;
  }

  .details-container {
    width: 17.5rem;
    font-size: 15px;
    margin: 0;
    padding: 0 5px;
  }

  .cus-image {
    width: 15.625rem;
    height: 15.625rem;
  }

  #new-img-editor {
    text-align: center;
    margin-left: 0.9375rem;
  }
}
