/* stylint:disable */
.custrans-name {
  display: flex;
  justify-content: space-between;
}

.transact-customer-container {
  border: 2px solid #705050;
  border-radius: 8px;
  width: 950px;
  height: fit-content;
  margin: 20px 20px 20px 50px;
}

.columns {
  width: 240px;
  text-align: center;
  font-size: 18px;
  padding-top: 20px;
}

#col {
  margin-top: 20px;
  border-bottom: 2px solid #705050;
}

.i {
  border-left: 2px solid #705050;
  color: #000;
}

#a {
  border-right: 2px solid #705050;
}

@media only screen and (max-width: 768px) {
  .transact-customer-container {
    width: 320px;
    margin: 20px;
  }

  .columns {
    width: 100px;
    font-size: 12px;
    padding-top: 5px;
  }
}
  

/* stylint:enable */