main {
  background: #f3f4f6;
  grid-area: main;
  overflow-y: auto;
}

.main__container {
  padding: 20px 35px;
}

.main__title {
  display: flex;
  align-items: center;
}

.main__title > img {
  max-height: 100px;
  object-fit: contain;
  margin-right: 20px;
}

.main__greetings {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.main__greetings > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

.main__cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 20px 0;
}

.cards {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 70px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ededed;
  padding: 25px;
}

.card__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__inner > span {
  font-size: 25px;
}

.charts {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
}

.charts__inner {
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ededed;
  padding: 25px;
}

.charts__left__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charts__left__title > div > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.charts__left__title > div > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

.charts__left__title > i {
  font-size: 20px;
  color: #ffffff;
  background: #ffc100;
  border-radius: 200px 0 200px 200px;
  -moz-border-radius: 200px 0 200px 200px;
  -webkit-border-radius: 200px 0 200px 200px;
  border: 0 solid #000000;
  padding: 15px;
}

.charts__right {
  background: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ededed;
  padding: 25px;
}

.charts__right__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.charts__right__title > div > h1 {
  font-size: 24px;
  color: #2e4a66;
  margin-bottom: 5px;
}

.charts__right__title > div > p {
  font-size: 14px;
  font-weight: 700;
  color: #a5aaad;
}

.charts__right__title > i {
  font-size: 20px;
  color: #ffffff;
  background: #394474;
  border-radius: 200px 0 200px 200px;
  -moz-border-radius: 200px 0 200px 200px;
  -webkit-border-radius: 200px 0 200px 200px;
  border: 0 solid #000000;
  padding: 15px;
}

.charts__right__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-top: 30px;
}

.card1 {
  background: #d1ecf1;
  color: #35a4ba;
  text-align: center;
  border-radius: 5px;
  padding: 25px;
  font-size: 14px;
}

.card2 {
  background: #d2f9ee;
  color: #38e1b0;
  text-align: center;
  border-radius: 5px;
  padding: 25px;
  font-size: 14px;
}
.card3 {
  background: #d6d8d9;
  color: #3e3e41;
  text-align: center;
  border-radius: 5px;
  padding: 25px;
  font-size: 14px;
}
.card4 {
  background: #fddcdf;
  color: #f65a6f;
  text-align: center;
  border-radius: 5px;
  padding: 25px;
  font-size: 14px;
}

@media only screen and (max-width: 855px) {
  .main__cards {
    grid-template-columns: 1fr;
    gap: 10px;
    margin-bottom: 0;
  }
  .charts {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }

    .charts__right {
      box-sizing: border-box;
    }

    .h-card {
      font-size: 12px;
    }

    .cd {
      width: 60px;
    }
}
