.form-container-item-list {
  width: 50rem;
  gap: 1.25rem;
  font-family: 'Gumela', sans-serif;
  margin: 1.25rem 1.25rem 1.25rem 7.5rem;
  box-shadow: 5px 5px 13px #773c3c, -5px -5px 13px #967777;
  border-radius: 8px;
}

.item-name {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 4.375rem;
  margin: 1.25rem;
  align-items: center;
  align-content: center;
  text-align: center;
  padding: 20px;
  font-size: 1.5625rem;
  gap: 20px;
  font-family: 'Gumela', sans-serif;
  box-shadow: 5px 5px 13px #773c3c, -5px -5px 13px #967777;
  border-radius: 8px;
  list-style-type: none;
}

.item-item-name {
  text-align: left;
}

.item-name li img {
  margin-left: 1.875rem;
}

.item-price {
  justify-self: end;
}

@media only screen and (max-width: 768px) {
  .form-container-item-list {
    width: 20rem;
    margin: 1.25rem;
  }

  .item-name li img {
    margin-left: 10px;
  }

  .item-name {
    font-size: 15px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
  }
}
