@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');

.landing_app {
  background-image: url('../../../assets/image/bgfood.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.landing_text {
  color: #fff;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 300px;
  animation: landing-text-animation 0.5s ease-in-out;
  position: absolute;
  font-family: 'Nanum Pen Script', sans-serif;
}

#landing_text {
  margin-left: 500px;
}

.landing_card_home {
  position: fixed;
  margin-top: 400px;
}