@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');

.landing_app {
  background-image: url('../../../assets/image/bgfood.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.landing_text {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 300px;
  animation: landing-text-animation 0.5s ease-in-out;
  position: fixed;
  font-family: 'Neonderthaw', sans-serif;
  
}

#landing_text {
  margin-left: 400px;
}
