@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

.footer {
  display: flex;
  color: rgb(87, 7, 7);
  font-size: 10px;
  font-family: 'Quintessential', sans-serif;
}
