@import url('https://fonts.googleapis.com/css2?family=Quintessential&display=swap');

.items-to-costumer {
  display: grid;
  grid-template-columns: 4fr 1.5fr;
  width: 900px;
  gap: 20px;
  font-family: 'Gumela', sans-serif;
  margin: 20px 20px 20px 80px;
  box-shadow: 5px 5px 13px #773c3c, -5px -5px 13px #967777;
  border-radius: 8px;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: rgb(248, 244, 244);
}

.products-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin-right: 90px;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.product-name-price {
  font-size: 30px;
  font-weight: bold;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.product-name-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 30px;
  font-weight: bold;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.quantity-input {
  width: 80px;
  height: 25px;
  font-size: 14px;
  box-shadow: 5px 5px 13px #f7f1f1, -5px -5px 13px #e2dcdc;
  outline: none;
}

.quantity-pic-container {
  width: 500px;
}

.pic-previous {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.qty-i-name {
  font-size: 30px;
  margin-bottom: 10px;
  font-family: 'Quintessential', sans-serif;
}

.quantity-pic {
  width: 300px;
  height: 300px;
  border-radius: 5px;
}

.qunatity-price {
  font-size: 18px;
  font-weight: 400;
  font-style: italic;
  width: 100px;
  text-align: center;
}

.input-add {
  display: flex;
  width: 180px;
}

.input-add > li {
  margin: 5px;
}

.qty-desc {
  font-size: 16px;
  font-weight: 300;
  font-style: normal;

  /* width: 100px; */
}

.sum-item-btn {
  background-color: #00bcd4;
  border-radius: 2px;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  font-weight: 300;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: center;
  width: 80px;
  height: 25px;
  outline: none;
  border: none;
  box-shadow: 5px 5px 13px #f7f1f1, -5px -5px 13px #e2dcdc;
}

.qty-sub-total {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin: 8px;
}

.qty-p-total {
  font-size: 20px;
  font-weight: 400;
  font-style: italic;
  margin: 8px;
}

.finish-btn {
  width: 200px;
  height: 30px;
  padding: 6px;
  outline: none;
  border: none;
  border-radius: 5px;
  background-color: #3ea175;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 5px 5px 13px #f7f1f1, -5px -5px 13px #e2dcdc;
}

@media only screen and (max-width: 978px) {
  .items-to-costumer {
    display: flex;
    flex-direction: column;
    width: 320px;
    margin: 20px;
  }

  .products-container {
    margin: 0;
  }

  .product-name-price {
    font-size: 20px;
  }

  .product-name-container {
    font-size: 20px;
    width: 120px;
  }

  .quantity-input {
    width: 50px;
  }

  .quantity-pic-container {
    width: 100%;
  }

  .quantity-pic {
    width: 200px;
    height: 200px;
  }

  .qunatity-price {
    font-size: 14px;
  }

  .input-add {
    width: 100%;
  }

  .input-add > li {
    margin: 5px;
  }

  .qty-desc {
    font-size: 14px;
  }

  .sum-item-btn {
    width: 100%;
    font-size: 10px;
  }

  .qty-p-total {
    font-size: 16px;
  }

  .finish-btn {
    width: 150px;
  }
}
