.cus-preview-main-container{
   /* margin: 20px 20px 20px 50px; */
  /* padding: 20px; */
  background-color: azure;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  height: fit-content;
  width: 1000px;
  padding: 0;
  margin: 20px;
  padding: 20px;
  /* display: flex;
  flex-direction: row; */
}

.transact-customer-container-p {
  border: 2px solid crimson;
  border-radius: 8px;
  width: 950px;
  height: fit-content;
  margin: 20px;
}


.cus-preview-container{
 display: flex;
 flex-direction: column;
 gap: 20px;
 height: 400px;
}

.cus-info{
  font-size: 30px;
  margin: 20px;
}

.food-item{
  text-align: center;
}

.cus-details-container{
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.cus-p-image{
  width: 300px;
  height: 250px;
  border-radius: 8px;
}